﻿/*
	debug-embed.css
	embedded debug styles within div.debug 
*/

div.debug {
	background-color: #eee;
	margin: 0px; 
	color: #000; 
	font-family: Calibri,Helvetica,sans-serif;
	font-size : 0.7em;
	}
div.debug dl { margin:0;}
div.debug div.dt, div.debug div.dd, div.debug div.de, div.debug div.dv {
	color: #333;
}
div.debug div.dv { background: #FFD;}
div.debug div.dt { background: #FCC;}
div.debug div.de { background: #EEF;}
div.debug div.dd { background: #EFE;}
div.debug div.dx { background: #FFF;}

div.debug span.d_sw::before {
	content:"+";
	font-size: 0.8em;
	cursor:pointer;
	background-color: #069;
	color:#fff;
	padding: 0 4px;
	margin: 1px 2px;
}
div.debug span.d_sw.minus::before {
	content:"-";
	background-color: #096;
}
div.debug span.d_sw + dl.d_obj {
	display:none;
	margin-left:12px;
}
div.debug dl.d_obj dt {float:left; font-weight:bold;clear:left;}
div.debug dl.d_obj dt::after {content: ": ";}
div.debug dl.d_obj span {float:left; margin-left:4px;}
div.debug dl.d_obj::after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}


/* XML */
div.debug span.close { color: #999; }
div.debug span.attr { color: #950; }
div.debug span.value { color: #039; }
div.debug span.namespace { color: #906; }
div.debug dl.content {}
div.debug dd {margin-left: 16px; }
div.debug span.sum { display:none; color:#0C8; }
div.debug i.fa-minus-square-o { color:#08C; }
div.debug i.fa-plus-square-o { color:#D80; }
div.debug i.fa-square-o { color:#CCC; }
