﻿/*
	debug.less
	runs only in trace and control frames
*/
@color1: #212b8e;
@color2: #4d85c0;
@color3: #6699cc;
@color4: #bcd0e6;
@color5: #d8e4f6;

.hidden {
	display: none;
}

body {
	background-color: #eee;
	margin: 0;
	color: #000;
	font-family: Calibri,Helvetica,sans-serif;
	font-size : 0.7em;
	}
dl { margin:0;}
div.dt, div.dd, div.de, div.dv {
	color: #333;
}
div.dv { background: #FFD;}
div.dt { background: #FCC;}
div.de { background: #EEF;}
div.dd { background: #EFE;}
div.dx { background: #FFF;}

pre {font-size: 10px;}

span.d_sw.minus::before {
	content:"-";
	background-color: #096;
}
span.d_sw + dl.d_obj {
	display:none;
	margin-left:12px;
}
dl.d_obj dt {float:left; font-weight:bold;clear:left;}
dl.d_obj dt::after {content: ": ";}
dl.d_obj span {float:left; margin-left:4px;}
dl.d_obj::after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}

div#tabcontrol {
	background-color: gray;
	font-weight: bold;
	padding-top:3px;
}
div#tabcontrol span.tab {
	margin: 2px 2px 0 2px;
	padding: 1px 4px 1px 4px;
	border-radius: 4px 4px 0 0;
	background-color: #ddd;
	cursor:pointer;
}
div#tabcontrol span.active {
	background-color: white;
}

/* XML */


/* Control pane */

div.control {
	font-size: 10pt;
	font-family: Roboto, Arial, Helvetica, sans-serif;

	form {
		padding: 8px;
	}
	input, textarea, option, select, .button {
		text-decoration: none;
		cursor: pointer;
		display: inline-block;
		height: 16px;
		padding: 2px 4px;
		border: 1px solid #806080;
		color: #FFF;
		background-color: #006699;
		vertical-align: middle;
		margin-left: 4px;
	}
	.button {
		height: 16px;
	}

	.danger { background-color: maroon }
	.success { background-color: #008006 }
	.warning { background-color: #9a650b
	}
}

.debug-trace {
	&.navbar {
		padding: .1rem .2rem;
	}
	.navbar-brand {
		font-size: .9rem;
		margin-right: .4rem;
	}
	.form-control {
		font-size: .75rem;
		padding: .1rem .2rem;
		height: 1.4rem;
	}
}

.indent {
	padding-left: 12px;
}

.tab-container .nav_tab_box {
	line-height: 1.4rem;
}
.tabcontrol {
	font-size: .75rem;
	.tab {
		padding: .2rem .3rem;
	}
}

.syntax-tree {
	font-family: "Roboto Mono",sans-serif;
	font-size: .63rem;

	span.tag {
		display: block;
		text-indent: -24px;
		padding-left: 24px;
		.fa {
			display: contents;
		}
	}
	span.close-tag { color: #999; }
	span.open-tag { white-space: nowrap; }

	span.attr-value {
		white-space: nowrap;
	}
	span.attr { color: #950; }

	span.value { color: #039; }
	span.namespace { color: #906; }
	dl.content {}
	dd {margin-left: 16px; }
	span.sum { display:none; color:#0C8; }
	i.fa-minus-square-o { color:#08C; }
	i.fa-plus-square-o { color:#D80; }
	i.fa-square-o { color:#CCC; }
	span.text {
		color: #280;
	}
	span.short {
		max-width: 80px;
		overflow: hidden;
		white-space: nowrap;
		display: inline-block;
		vertical-align: text-bottom;
	}
	span.shorten {
		display: none;
	}
	span.short + span.shorten {
		display: inline-block;
	}
	span.d_sw::before {
		content: "+";
		font-size: 0.8em;
		cursor: pointer;
		background-color: #069;
		color: #fff;
		padding: 0 4px;
		margin: 1px 2px;
	}
}

#tab_request, #tab_all, #tab_app, #tab_sql {
	.item {
		background-color: @color3;
		color: white;
		font-size: .875rem;
		font-weight: bold;
		.fa { margin-right: 4px; }
		.sum { font-weight: normal;	}
		max-height: 3rem;
		overflow: hidden;
		&.level-debug { background-color: #628462;}
		&.level-info { background-color: #669ca7;}
		&.level-notice { background-color: #a17757;}
		&.level-warning { background-color: #c77e29;}
		&.level-error { background-color: #9e4343;}
		&.level-critical { background-color: #6a0828;}
		&.level-alert { background-color: #5f3066;}
		&.level-emergency { background-color: black;}
		&.item-open { max-height: fit-content; }
	}
	dl.item-list {
		margin-bottom: .2rem;
		font-size: .75rem;
		dd {
			padding-left: 12px;
			margin-bottom: .2rem;
		}
		dt {
			font-weight: normal;
			color: @color1;
			&.data {
				background-color: @color5;
				& + dd {
					font-family: "Roboto Mono",monospace;
				}
			}
			&.attr {
				font-weight: bold;
				display: inline-flex;
				width: 25%;
				& + dd {
					display: inline-flex;
					width: 70%;
				}
			}
			&.backtrace {
				background-color: #e3cadb;
			}
		}
	}
	.item-where {
		font-size: .7rem;
		font-family: "Roboto Mono", monospace;
		background-color: @color4;
		white-space: nowrap;
		span.ts { margin-left:3px; margin-right: 3px; color: #700;}
	}
	dl.sub {
		margin-bottom: .1rem;
		dt {
			font-weight: bold;
			&:after { content: ':' }
		}
	}
	dl.array {
		margin-bottom: .1rem;
		dt {
			font-weight: bold;
			width: 12%;
			padding: 0;
			margin: 0;
			display: inline-block;
			&:before { content: '[' }
			&:after { content: ']' }
		}
		dd {
			width: 87%;
			display: inline-block;
			padding: 0;
			margin: 0 -12px 0 0;
		}
	}
	div.string {
		color: #0c5460;
	}
}
#tab_sql .item {
	position: relative;
	i.fa {
		position: absolute;
		top: 0;
	}
	.msg {
		display: inline-flex;
		font-family: "Roboto Mono", monospace;
		font-size: .7rem;
		font-weight: normal;
		background-color: #eee;
		color: black;
		margin: 2px 16px;
	}
	.sum {
		display: none;
	}
}

.tags {
	font-size: .75rem;
	.title { display: inline-block; font-weight: bold; }
	div.form-check-inline { margin-right: .15rem;}
	input.form-check-input { margin-right: .1rem;}

}

span.msg span.text, span.tag span.text {
	margin-left:3px;
	border-bottom: 1px solid #bdf;
}

div.dump {
	background-color: #fef;
	color: #000088;
	font-size: 1rem;
	h2 {
		color: #0000cc;
		font-size: 2rem;
	}
}

.backtrace {
	font-family: "Roboto Mono", monospace;
}

body > pre {
	font-size: 11px;
}

.fa.far {
	font-weight: 400;
}
