/*
	debug.less
	runs only in trace and control frames
*/
.hidden {
  display: none;
}
body {
  background-color: #eee;
  margin: 0;
  color: #000;
  font-family: Calibri, Helvetica, sans-serif;
  font-size: 0.7em;
}
dl {
  margin: 0;
}
div.dt,
div.dd,
div.de,
div.dv {
  color: #333;
}
div.dv {
  background: #FFD;
}
div.dt {
  background: #FCC;
}
div.de {
  background: #EEF;
}
div.dd {
  background: #EFE;
}
div.dx {
  background: #FFF;
}
pre {
  font-size: 10px;
}
span.d_sw.minus::before {
  content: "-";
  background-color: #096;
}
span.d_sw + dl.d_obj {
  display: none;
  margin-left: 12px;
}
dl.d_obj dt {
  float: left;
  font-weight: bold;
  clear: left;
}
dl.d_obj dt::after {
  content: ": ";
}
dl.d_obj span {
  float: left;
  margin-left: 4px;
}
dl.d_obj::after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
div#tabcontrol {
  background-color: gray;
  font-weight: bold;
  padding-top: 3px;
}
div#tabcontrol span.tab {
  margin: 2px 2px 0 2px;
  padding: 1px 4px 1px 4px;
  border-radius: 4px 4px 0 0;
  background-color: #ddd;
  cursor: pointer;
}
div#tabcontrol span.active {
  background-color: white;
}
/* XML */
/* Control pane */
div.control {
  font-size: 10pt;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
div.control form {
  padding: 8px;
}
div.control input,
div.control textarea,
div.control option,
div.control select,
div.control .button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  padding: 2px 4px;
  border: 1px solid #806080;
  color: #FFF;
  background-color: #006699;
  vertical-align: middle;
  margin-left: 4px;
}
div.control .button {
  height: 16px;
}
div.control .danger {
  background-color: maroon;
}
div.control .success {
  background-color: #008006;
}
div.control .warning {
  background-color: #9a650b;
}
.debug-trace.navbar {
  padding: .1rem .2rem;
}
.debug-trace .navbar-brand {
  font-size: .9rem;
  margin-right: .4rem;
}
.debug-trace .form-control {
  font-size: .75rem;
  padding: .1rem .2rem;
  height: 1.4rem;
}
.indent {
  padding-left: 12px;
}
.tab-container .nav_tab_box {
  line-height: 1.4rem;
}
.tabcontrol {
  font-size: .75rem;
}
.tabcontrol .tab {
  padding: .2rem .3rem;
}
.syntax-tree {
  font-family: "Roboto Mono", sans-serif;
  font-size: .63rem;
}
.syntax-tree span.tag {
  display: block;
  text-indent: -24px;
  padding-left: 24px;
}
.syntax-tree span.tag .fa {
  display: contents;
}
.syntax-tree span.close-tag {
  color: #999;
}
.syntax-tree span.open-tag {
  white-space: nowrap;
}
.syntax-tree span.attr-value {
  white-space: nowrap;
}
.syntax-tree span.attr {
  color: #950;
}
.syntax-tree span.value {
  color: #039;
}
.syntax-tree span.namespace {
  color: #906;
}
.syntax-tree dd {
  margin-left: 16px;
}
.syntax-tree span.sum {
  display: none;
  color: #0C8;
}
.syntax-tree i.fa-minus-square-o {
  color: #08C;
}
.syntax-tree i.fa-plus-square-o {
  color: #D80;
}
.syntax-tree i.fa-square-o {
  color: #CCC;
}
.syntax-tree span.text {
  color: #280;
}
.syntax-tree span.short {
  max-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  vertical-align: text-bottom;
}
.syntax-tree span.shorten {
  display: none;
}
.syntax-tree span.short + span.shorten {
  display: inline-block;
}
.syntax-tree span.d_sw::before {
  content: "+";
  font-size: 0.8em;
  cursor: pointer;
  background-color: #069;
  color: #fff;
  padding: 0 4px;
  margin: 1px 2px;
}
#tab_request .item,
#tab_all .item,
#tab_app .item,
#tab_sql .item {
  background-color: #6699cc;
  color: white;
  font-size: .875rem;
  font-weight: bold;
  max-height: 3rem;
  overflow: hidden;
}
#tab_request .item .fa,
#tab_all .item .fa,
#tab_app .item .fa,
#tab_sql .item .fa {
  margin-right: 4px;
}
#tab_request .item .sum,
#tab_all .item .sum,
#tab_app .item .sum,
#tab_sql .item .sum {
  font-weight: normal;
}
#tab_request .item.level-debug,
#tab_all .item.level-debug,
#tab_app .item.level-debug,
#tab_sql .item.level-debug {
  background-color: #628462;
}
#tab_request .item.level-info,
#tab_all .item.level-info,
#tab_app .item.level-info,
#tab_sql .item.level-info {
  background-color: #669ca7;
}
#tab_request .item.level-notice,
#tab_all .item.level-notice,
#tab_app .item.level-notice,
#tab_sql .item.level-notice {
  background-color: #a17757;
}
#tab_request .item.level-warning,
#tab_all .item.level-warning,
#tab_app .item.level-warning,
#tab_sql .item.level-warning {
  background-color: #c77e29;
}
#tab_request .item.level-error,
#tab_all .item.level-error,
#tab_app .item.level-error,
#tab_sql .item.level-error {
  background-color: #9e4343;
}
#tab_request .item.level-critical,
#tab_all .item.level-critical,
#tab_app .item.level-critical,
#tab_sql .item.level-critical {
  background-color: #6a0828;
}
#tab_request .item.level-alert,
#tab_all .item.level-alert,
#tab_app .item.level-alert,
#tab_sql .item.level-alert {
  background-color: #5f3066;
}
#tab_request .item.level-emergency,
#tab_all .item.level-emergency,
#tab_app .item.level-emergency,
#tab_sql .item.level-emergency {
  background-color: black;
}
#tab_request .item.item-open,
#tab_all .item.item-open,
#tab_app .item.item-open,
#tab_sql .item.item-open {
  max-height: fit-content;
}
#tab_request dl.item-list,
#tab_all dl.item-list,
#tab_app dl.item-list,
#tab_sql dl.item-list {
  margin-bottom: .2rem;
  font-size: .75rem;
}
#tab_request dl.item-list dd,
#tab_all dl.item-list dd,
#tab_app dl.item-list dd,
#tab_sql dl.item-list dd {
  padding-left: 12px;
  margin-bottom: .2rem;
}
#tab_request dl.item-list dt,
#tab_all dl.item-list dt,
#tab_app dl.item-list dt,
#tab_sql dl.item-list dt {
  font-weight: normal;
  color: #212b8e;
}
#tab_request dl.item-list dt.data,
#tab_all dl.item-list dt.data,
#tab_app dl.item-list dt.data,
#tab_sql dl.item-list dt.data {
  background-color: #d8e4f6;
}
#tab_request dl.item-list dt.data + dd,
#tab_all dl.item-list dt.data + dd,
#tab_app dl.item-list dt.data + dd,
#tab_sql dl.item-list dt.data + dd {
  font-family: "Roboto Mono", monospace;
}
#tab_request dl.item-list dt.attr,
#tab_all dl.item-list dt.attr,
#tab_app dl.item-list dt.attr,
#tab_sql dl.item-list dt.attr {
  font-weight: bold;
  display: inline-flex;
  width: 25%;
}
#tab_request dl.item-list dt.attr + dd,
#tab_all dl.item-list dt.attr + dd,
#tab_app dl.item-list dt.attr + dd,
#tab_sql dl.item-list dt.attr + dd {
  display: inline-flex;
  width: 70%;
}
#tab_request dl.item-list dt.backtrace,
#tab_all dl.item-list dt.backtrace,
#tab_app dl.item-list dt.backtrace,
#tab_sql dl.item-list dt.backtrace {
  background-color: #e3cadb;
}
#tab_request .item-where,
#tab_all .item-where,
#tab_app .item-where,
#tab_sql .item-where {
  font-size: .7rem;
  font-family: "Roboto Mono", monospace;
  background-color: #bcd0e6;
  white-space: nowrap;
}
#tab_request .item-where span.ts,
#tab_all .item-where span.ts,
#tab_app .item-where span.ts,
#tab_sql .item-where span.ts {
  margin-left: 3px;
  margin-right: 3px;
  color: #700;
}
#tab_request dl.sub,
#tab_all dl.sub,
#tab_app dl.sub,
#tab_sql dl.sub {
  margin-bottom: .1rem;
}
#tab_request dl.sub dt,
#tab_all dl.sub dt,
#tab_app dl.sub dt,
#tab_sql dl.sub dt {
  font-weight: bold;
}
#tab_request dl.sub dt:after,
#tab_all dl.sub dt:after,
#tab_app dl.sub dt:after,
#tab_sql dl.sub dt:after {
  content: ':';
}
#tab_request dl.array,
#tab_all dl.array,
#tab_app dl.array,
#tab_sql dl.array {
  margin-bottom: .1rem;
}
#tab_request dl.array dt,
#tab_all dl.array dt,
#tab_app dl.array dt,
#tab_sql dl.array dt {
  font-weight: bold;
  width: 12%;
  padding: 0;
  margin: 0;
  display: inline-block;
}
#tab_request dl.array dt:before,
#tab_all dl.array dt:before,
#tab_app dl.array dt:before,
#tab_sql dl.array dt:before {
  content: '[';
}
#tab_request dl.array dt:after,
#tab_all dl.array dt:after,
#tab_app dl.array dt:after,
#tab_sql dl.array dt:after {
  content: ']';
}
#tab_request dl.array dd,
#tab_all dl.array dd,
#tab_app dl.array dd,
#tab_sql dl.array dd {
  width: 87%;
  display: inline-block;
  padding: 0;
  margin: 0 -12px 0 0;
}
#tab_request div.string,
#tab_all div.string,
#tab_app div.string,
#tab_sql div.string {
  color: #0c5460;
}
#tab_sql .item {
  position: relative;
}
#tab_sql .item i.fa {
  position: absolute;
  top: 0;
}
#tab_sql .item .msg {
  display: inline-flex;
  font-family: "Roboto Mono", monospace;
  font-size: .7rem;
  font-weight: normal;
  background-color: #eee;
  color: black;
  margin: 2px 16px;
}
#tab_sql .item .sum {
  display: none;
}
.tags {
  font-size: .75rem;
}
.tags .title {
  display: inline-block;
  font-weight: bold;
}
.tags div.form-check-inline {
  margin-right: .15rem;
}
.tags input.form-check-input {
  margin-right: .1rem;
}
span.msg span.text,
span.tag span.text {
  margin-left: 3px;
  border-bottom: 1px solid #bdf;
}
div.dump {
  background-color: #fef;
  color: #000088;
  font-size: 1rem;
}
div.dump h2 {
  color: #0000cc;
  font-size: 2rem;
}
.backtrace {
  font-family: "Roboto Mono", monospace;
}
body > pre {
  font-size: 11px;
}
.fa.far {
  font-weight: 400;
}
/*# sourceMappingURL=debug.css.map */
